html {
  font-size: 1rem;
}


body {
  background-color: #1B2631;
}

body, h5, p  {
  color: #A9F5F2;
}

.navbar {
  background-color: #1B2631;
}

.nav-item {
  color: #A9F5F2;;
  padding: 0 15px;
  border-right: 1px solid #1B2631;
  border-top: 2px solid  #f8f9fa;

}

.navLast {
  border-right: 0;
}

.nav-item:hover {
  color: #A9F5F2;
  border-top: 2px solid #1B2631;
}



.divSection {
  margin-top: 15px;
}

.d-md-block {
  background:rgba(0,0,0,0.4);
}

.imgCar {
  width: 1233px; height: 453px
}


.imgRounded {
  border-radius: 50%;
  /*width: 200px; height: 190px;*/
}

.divSectionWhy {
  background-color: #F4F6F7;
}

.why {color: #1B2631;}

/*.divWhy {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../imag/porque.jpg')  no-repeat center top;
    background-size: cover;
    color: #ffffff;
}*/


@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
